.contact-container {
  display: flex;
  flex-direction: row;
  border: var(--border);
  background-color: var(--background-custom-color);
  border-radius: var(--border-radius);
  margin-top: 20px;
  /* justify-content: space-between; */
  gap: 20px;

  padding: 40px;
}
.contact-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 200px;
}

.contact-container-item {
  font-weight: bold;
}
#contact-me {
  font-style: italic;
}
.contact-foto {
  display: flex;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/odessa black sea view.jpg");
  min-height: 300px;
  border-radius: var(--border-radius);
  padding: 10px 0 0 10px;
}

@media screen and (max-width: 412px) {
  .contact-container {
    border-radius: 0;
    flex-direction: column;
  }
}

@media screen and (max-width: 428px) {
  .contact-container {
    border-radius: 0;
    flex-direction: column;
  }
}
