.contact-container {
  display: flex;
  flex-direction: column;
  border: var(--border);
  background-color: var(--background-custom-color);
  border-radius: var(--border-radius);
  margin-top: 20px;

  padding: 40px;
}

.contact-container-item {
  font-weight: bold;
}

@media screen and (max-width: 412px) {
  .contact-container {
    border-radius: 0;
  }
}
