.home-page-contianer {
  display: flex;
  flex-direction: row;
}

img {
  width: 430px;
  /* height: 150px; */
  /* border-radius: 50%; */
  padding-top: 10px;
  border: var(--border);
  /* box-shadow: var(--box-shadow); */
  /* float helps to wrap the text around the image */
  /* float: left; */
  margin-right: 30px;
  margin-top: 20px;
}

/* article {
  padding-top: 20px;
  padding-left: 20px;
  line-height: 1.5;
  font-size: 18px;
  text-align: justify;
  width: 100vw;
} */

@media screen and (max-width: 360px) {
  img {
    display: none;
  }
  article {
    width: 100%;
    padding: 0;
  }
}
