.home-page-contianer {
  display: flex;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 40%;
  padding-top: 10px;
  border: var(--border);
  box-shadow: var(--box-shadow);
  /* float helps to wrap the text around the image */
  float: left;
  margin-right: 20px;
}

article {
  padding-top: 20px;
  padding-left: 20px;
  line-height: 1.5;
  font-size: 18px;
  text-align: justify;
  width: 90%;
}

@media screen and (max-width: 360px) {
  img {
    display: none;
  }
  article {
    width: 100%;
    padding: 0;
  }
}
