.cv-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container-item-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
  width: 100%;
}
.container-item-body-1 {
  flex: 1;
}
.container-item-body-1 img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.container-item-body-1 > p {
  text-align: justify;
}

.container-contact-details {
  display: flex;
  flex-direction: column;
}

.icon-email-container,
.icon-mobile-container,
.icon-address-container,
.git-address-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.icon-email-container > p,
.icon-mobile-container > p,
.icon-address-container > p,
.git-address-container > p {
  margin-left: 10px;
}

#github-label {
  margin-right: 10px;
}
.container-stack {
  flex-wrap: wrap;
  align-items: flex-start;
  flex-grow: 1;
  gap: 2px;
}

.education-container,
.it-education-container,
.container-language-driver-hobby {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}
.skills-container,
.education-item,
.it-education-item {
  flex: 1;
  list-style-type: none;
  border: var(--border);
  background: var(--background-custom-color);
  padding-left: 10px;
  padding-top: 10px;
  text-align: left;
}

.container-language-driver-hobby > article {
  flex: 1;
  flex-direction: row;
  border: var(--border);
  /* box-shadow: var(--box-shadow); */
  background: var(--background-custom-color);
  text-align: left;
}

/* Web responsiveness zone */
@media (max-width: 900px) {
  /* TO DO! Rework on this!!!! */
  .container-item-body {
    flex-direction: column;
  }
}

@media screen and (max-width: 412px) {
  .container-stack {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  .education-container,
  .it-education-container {
    flex-direction: column;
    gap: 8px;
    width: 90%;
  }

  .container-item-body {
    flex-direction: column;
  }
  .container-item-body-1 > p {
    text-align: justify;
  }
}
