footer {
  background-color: var(--headerFooterBackground-color);
  /* border-radius: var(--border-radius); */
  /* border: var(--border-line); */
  
}
.footer-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  /* gap: 40px; */
  padding: 0 20px;
}
a {
  text-decoration: none;
}

.content {
  flex: 1;
}


@media screen and (max-width: 768px){
  .footer-li{
    
      flex-direction: column;          
     
  }

  #my-profile-link{
    
    display: none;         
   
}
}