.footer-li {
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style-type: none;
}
a {
  text-decoration: none;
}
footer {
  background-color: var(--headerFooterBackground-color);
  border-radius: var(--border-radius);
  border: var(--border-line);
}
