footer {
  background-color: var(--headerFooterBackground-color);
  /* border-radius: var(--border-radius); */
  /* border: var(--border-line); */
}
.footer-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  /* gap: 40px; */
  padding: 0 20px;
  color: gray;
  font-size: 10px;
}
a {
  text-decoration: none;
}

.content {
  flex: 1;
}
.contact-links {
  color: gray;
}

@media screen and (max-width: 768px) {
  .footer-li {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #my-profile-link {
    display: none;
  }
}
@media screen and (max-width: 475px) {
  #copyright {
    text-align: center;
    width: 100%;
  }
}
