h1 {
  margin-left: 38px;
}

.nav-ol {
  display: flex;
  flex-direction: row;
  gap: 100px;
  list-style-type: none;
  font-size: 1em;
}
header {
  background-color: var(--headerFooterBackground-color);
  border-radius: var(--border-radius);
  border: var(--border-line);
  position: relative;
}
img {
  position: absolute;
  right: 4em;
  top: 0.0;
  width: 214px;
  height: 320px;
  border-radius: var(--border-radius);
  border: var(--border-line);
}
