.header-container {
  display: flex;
  position: relative;
  background: linear-gradient(to bottom left, #171617, rgb(159, 152, 152));
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

  /* transform: skewY(2deg); */
}
img {
  position: relative;
  width: 120px;

  left: 15em;
  border-radius: 50%;
}
.header-nav-container {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.header-nav-container li {
  display: flex;
  color: white;
  font-size: 18px;
}
